Source: mingw-w64-termcap
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 9), autotools-dev,
	       gcc-mingw-w64, g++-mingw-w64 (>= 1.7.1)
Standards-Version: 4.1.1
Section: libs
Homepage: ftp://ftp.gnu.org/gnu/termcap/
#Vcs-Git: https://anonscm.debian.org/collab-maint/mingw-w64-termcap.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mingw-w64-termcap.git

Package: termcap-mingw-w64-dev
Section: libdevel
Architecture: any
Depends: termcap1-mingw-w64 (= ${binary:Version}), ${misc:Depends}
Description: Terminal feature database (mingw-w64, development files)
 This package contains the files which are needed for software development.

Package: termcap1-mingw-w64
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Terminal feature database (mingw-w64, runtime library)
 This package contains the files that are needed to execute programs using the DLLs.
